a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.start:hover {
  cursor: pointer;
}

.banner {
  width: 100%;
  color: black;
  background-color: #99d6d3;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 6;
  top: 0;
}

.left {
  display: flex;
  margin-left: 40px;
  font-size: 20px;
}

.right p {
  display: inline-block;
  margin-left: 10px;
  margin-right: 40px;
  font-size: 20px;
}


.links:hover {
  cursor: pointer;
}

.resume {
  margin-left: 50px;
  text-decoration: none;
}

.resume:hover {
  cursor: pointer;
}
