.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 7;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.overlay-main-1, .overlay-main-2,
.overlay-main-3, .overlay-main-4,
.overlay-main-5 {
  top: 37%;
  left: -45%;
  position: absolute;
  transform: translate(0, 70%) scale(1.15);
  height: 800px;
  width: 1300px;
  background-color: rgb(250, 250, 250);
  display: block;
  z-index: 8;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.overlay-main-1 .close-button,
.overlay-main-2 .close-button,
.overlay-main-3 .close-button,
.overlay-main-4 .close-button,
.overlay-main-5 .close-button {
  position: absolute;
}

.overlay-header-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  position: relative;
  align-items: center;
  text-decoration: underline;
}

.overlay-title {
  font-size: 50px;
  text-align: center;
}

.x-container {
  display: flex;
  position: absolute;
  justify-content: right;
  padding: 0;
  margin: 0;
  right: 160px;
  align-items: center;
  top: 30px;
}

.close-button {
  font-size: 85px;
  margin: 0;
  margin-right: -160px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

.description-container {
  display: flex;
}

.overlay-img {
  width: 600px;
  height: 600px;
  padding-left: 80px;
  padding-top: 50px;
}

.desc-header,
.link-header {
  width: 75%;
  text-align: center;
  padding-left: 15%;
  color: black;
  font-size: 40px;
  text-decoration: underline;
}

.desc-header {
  padding-top: 7%;
}

.overlay-desc,
.overlay-links {
  width: 75%;
  text-align: center;
  padding-left: 15%;
  color: black;
  font-size: 20px;
}

.overlay-desc {
  padding-top: 3%;
  padding-bottom: 15%;
}

body.activeOverlay1 .page-overlay,
body.activeOverlay2 .page-overlay,
body.activeOverlay3 .page-overlay,
body.activeOverlay4 .page-overlay,
body.activeOverlay5 .page-overlay {
  display: block;
  overflow: hidden;
}

body.activeOverlay1 .overlay-main-1,
body.activeOverlay2 .overlay-main-2,
body.activeOverlay3 .overlay-main-3,
body.activeOverlay4 .overlay-main-4,
body.activeOverlay5 .overlay-main-5 {
  top: 37%;
  left: -45%;
  transform: translate(0, -45%) scale(1);
  opacity: 1;
  overflow: hidden;
}